.mainContainer {
  max-width: 768px;
  min-height: 300px;
  margin-block: 3rem;
  padding-inline: 1rem;
  margin-inline: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar {
  flex-basis: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 1rem 1rem 0 0;
  background-color: #44337a;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.circle:nth-of-type(1) {
  background-color: #ff605c;
}

.circle:nth-of-type(2) {
  background-color: #ffbd44;
}
.circle:nth-of-type(3) {
  background-color: #00ca4e;
}
.circle + .circle {
  margin-left: 1em;
}

.circle:first-of-type {
  margin-left: 1em;
}
