.section {
  max-width: var(--sz-lg);
  margin-inline: auto;
  box-sizing: border-box;
  padding-block: 4rem 6rem;
}

.title {
  text-align: center;
  margin-top: 0;
  font-size: 2rem;
}

.projectList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1.5em;
}

.viewMore {
  padding-block-start: 1em;
  font-size: 1.2rem;
  display: grid;
  place-content: center;
}
