.contact {
  position: relative;
  max-width: var(--sz-sm);
  margin-inline: auto;
  margin-block: 0 4rem;
  padding: 2rem 2.5rem;

  border-radius: 0 0 1rem 1rem;
  border: 1px solid var(--clr-text);
}

.contact::before {
  position: absolute;
  content: "";
  top: -10px;
  left: -1px;
  right: -1px;
  height: 10px;
  background-color: var(--clr-accent);
}

.title {
  font-size: 2rem;
  margin-top: 0;
}
