.main {
  display: flex;
  padding-block: 3rem;
  align-items: center;
  flex-direction: column;
  max-width: var(--sz-sm);
  margin-inline: auto;
}

.title {
  margin-block: 0 0.8em;
}

.form {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.625rem;
  box-shadow: 0 0px 1px 1px var(--clr-text);
}

.formGroup {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.formGroup + .formGroup {
  margin-top: 1em;
}

.label {
  margin-bottom: 0.5em;
}

.input {
  color: var(--clr-bg);
}

.submit {
  box-sizing: content-box;
  cursor: pointer;

  width: fit-content;
  margin-top: 0.5em;
  margin-inline: auto;
  padding: 0.5em 0.75em;
  border: 2px solid var(--clr-accent);
  border-radius: 0.3125rem;

  background-color: var(--clr-bg);
  color: var(--clr-text);
  transition: background-color 250ms, color 250ms;
}

.submit:hover {
  background-color: var(--clr-accent);
  color: var(--clr-bg);
}
