.tagList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.container {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2rem;
  background-color: var(--clr-text);
  color: var(--clr-bg);
  padding: 0.2em;
  border: 1px solid var(--clr-text);
}

.tagItem {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.3em 0.5em;
  border-radius: 0.3125rem;

  background-color: var(--clr-accent);
}

.tagItem > span {
  margin-right: 0.3em;
}

.tagItem:last-of-type {
  margin-right: 0.4em;
}

.label {
  margin-bottom: 0.5em;
}

.input {
  flex-grow: 1;
  min-width: 18.75rem;
  margin-block: 0.2em;
  background-color: inherit;
  outline: none;
  border: none;
}
