:root {
  --clr-text: #f7fafc;
  --clr-bg: #171923;
  --clr-accent: #fc8181;
  --clr-complement: #322659;
  --clr-complement-variant: #44337a;
  --clr-subtext: #4a5568;

  font-size: clamp(0.6rem, 1vw, 1rem);
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
}

input,
select,
textarea,
button {
  font: inherit;
}

body {
  background-color: var(--clr-bg);
  color: var(--clr-text);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  letter-spacing: 0.035em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.05em;
}
